@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", "Geist Sans", sans-serif;
}

@layer base {
  * {
    @apply border-zinc-800;
  }
}
